<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
    <h1>Application</h1>
    <form action="http://localhost:<%- portNumber %>/apply" method="post" onsubmit="submitApplication()">
        <fieldset>
            <label><b>Name: </b><input type="text" name="name"/></label>
			<label><b>Email Address: </b><input type="email" name="email"></label><br><br>

            <label><b>GPA: </b><input type="text" name="gpa"/></label><br><br>

			<label><b>Background Information: </b></label><br>
            <textarea rows="5" cols="80" name="background"></textarea>
        </fieldset>

        <br>
        <input type="reset" />
        <input type="submit" value="Submit Application"/>
        <hr>
    </form>

    <a href="/home">HOME</a>

    <script>
        function submitApplication() {
            let message = "Are you sure you want to submit this aplication\n";
            message += "You will not be able to change your application once submitted";
            return window.confirm(message);
        }
    </script>
</body>