<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<body>
    <h1>Display GPAs Greater than or Equal to</h1>
    <div>
        <%- getGPAs %>
    </div>
</body>