<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
	<title>Admin GFA</title>
</head>

<body>
    <h1>Display GPAs Greater than or Equal to</h1>
    <form action="http://localhost:<%- portNumber %>/selectByGPA" method="post">
        <label><b>GPA: </b><input type="text" name="gpa"/></label><br><br>

        <input type="submit" value="Submit Request"/>
        <hr>
    </form>

    <a href="/home">HOME</a>
</body>